<% content_for :header_bottom do %>
  <%= javascript_pack_tag 'editable' %>
  <%= stylesheet_pack_tag 'editable' %>
<% end %>

<div id="editable-content">
  <editor
    save-path=<%= article_path(@article, format: :json) %>
    hidden-method=<%= @article.new_record? ? 'post' : 'patch' %>
  >
    <%== @article.draft %>
  </editor>
</div>

